/* CSS Document */
@font-face {
    font-family: 'RixYeoljeongdo_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
h1 {
	display: flex;
	justify-content: center;
	font-family: RixYeoljeongdo_Regular;
}
#title {
	display: inline;
}
#box {
	display: flex;
	justify-content: center;
}
#xy {
	display: block;
/*	justify-content: center;*/
	align-content: center;
}

#xsize {
	background-color: white;
	width: 48%;
	height: 30px;
	font-size: 100%;
}
#ysize {
	background-color: white;
	width: 48%;
	height: 30px;
	font-size: 100%;
}
#play {
/*	desplay: inline;*/
	background-color: white;
	height: 37px;
	font-size: 100%;
	
}